<script>
// $.post("/tasks/1"); will go to the show page for the task with id 1
// $.post("/tasks/1",{_method: "PUT",authenticity_token: encodeURIComponent
// (window._token)});

var trends_id, original_topic, original_uuid, original_span, xml, xsl;

$(function(){
  $('#loading_div').hide()
    .ajaxStart(function() { $(this).show(); })
    .ajaxStop(function() { $(this).hide(); });
  
  $('#latest_button').click(function(){
    get_latest();
  });
      
  $('.user_power').live('click', function(){
    original_span = $('.user_comment',this);
    var original_text = $('.user_comment',this).html();
    original_topic = $('h2',$(this).parent()).html();
    original_uuid = $('form input[type=hidden][name=entries_id]',$(this).parent().parent()).attr("value");
    $("#comment").val(original_text);
    $("#dialog-form").dialog({ title: "Modifying comment for "+original_topic }).dialog("open");
  });
  
  $("#locations_dropdown").live('change', function(){
    get_all();
  });
  
  $( "#dialog-form" ).dialog({
  			autoOpen: false,
  			height: 200,
  			width: 500,
  			modal: true,
  			buttons: {
  				"Edit comment": function() {
  				  var new_text = $("#comment").val();
  				  original_span.html(new_text);
  				  update_trend(original_topic, new_text, original_uuid);
  					$( this ).dialog( "close" );
  				},
  				Cancel: function() {
  					$( this ).dialog( "close" );
  				}
  			},
  			close: function() {

  			}
  		});
  		$("#dialog-form").hide();
  
  get_all();
  
  // Get Locations
  // Instead - https://api.twitter.com/1/trends/available.xml ??
  $.ajax({ url: '/xslt/locations.xml', dataType: 'text', success: function(data) {
  		xml2 = data;
  		$.ajax({ url: '/xslt/locations.xsl', dataType: 'xml', success: function(data) {
    			xsl2 = data;
    			// Convert Text into XML
    			parser2=new DOMParser();
          xmlDoc2=parser2.parseFromString(xml2,"text/xml");
    			// Transform XML using XSLT
    			xsltProcessor2=new XSLTProcessor();
          xsltProcessor2.importStylesheet(xsl2);
          resultDocument2 = xsltProcessor2.transformToFragment(xmlDoc2,document);
          $("#trends_block_form").prepend(resultDocument2);
    		}
      });
  	}
  });
  
  
  // TODO Fetch latest trends
});

function get_all(){
  $.ajax({ url: '/twitter_call/all/'+$("#locations_dropdown").val(), dataType: 'text', success: function(data) {
  		xml = data;
  		$.ajax({ url: '/xslt/feed.xsl', dataType: 'xml', success: function(data) {
    			xsl = data;
    			// Convert Text into XML
    			parser=new DOMParser();
          xmlDoc=parser.parseFromString(xml,"text/xml");
    			// Transform XML using XSLT
    			xsltProcessor=new XSLTProcessor();
          xsltProcessor.importStylesheet(xsl);
          resultDocument = xsltProcessor.transformToFragment(xmlDoc,document);
          $("#main_block").html("").prepend(resultDocument);
          build_trends_navigation();
    		}
      });
  	}
  });
}

function build_trends_navigation(){
  $("ul").html("");
  $("div form input[type=hidden][name=entries_id]").each(function(index){
    my_id = $(this).attr("value");
    $("ul").append("<li><a href=\"#"+my_id+"\">"+$("h1",$(this).parent().parent()).html()+"</a></li>"); 
  });
  $('#trends_list li a').smoothScroll();
}

function get_latest(){
  alert($("#locations_dropdown").val());
  $.ajax({ url: '/twitter_call/latest/'+$("#locations_dropdown").val(), dataType: 'text', success: function(data) {
  		xml = data;
  		$.ajax({ url: '/xslt/entry.xsl', dataType: 'xml', success: function(data) {
    			xsl = data;
    			// Convert Text into XML
    			parser=new DOMParser();
          xmlDoc=parser.parseFromString(xml,"text/xml");
    			// Transform XML using XSLT
    			xsltProcessor=new XSLTProcessor();
          xsltProcessor.importStylesheet(xsl);
          resultDocument = xsltProcessor.transformToFragment(xmlDoc,document);
          $("#main_block").prepend(resultDocument);
          build_trends_navigation();
    		}
      });
  	}
  });
}

function update_trend(original_topic, updated_text, original_uuid){
  //alert("Original topic was " + original_topic + "\nUpdated text was " + updated_text + "\nUUID was "+original_uuid);
  $.post("/twitter_call/update", {uuid: original_uuid, topic: original_topic, comment: updated_text}, function(data){
    //alert("Returned - "+ data);
  });
}

</script>

<div id="container">
<div id="trends_block">
  <div style="text-align: center">
  <form id="trends_block_form">
  <input type="button" id="latest_button" value="Hear ye!" />
  </form>
  </div>
  
  <h2>Select ye trends</h2>
  <ul id="trends_list">
    <li><a href="#id1">Some ID1</a></li>
    <li><a href="#id2">Some other ID2</a></li>
  </ul>
</div>
<div id="main_block">
  Loading...please hold on...watch the pretty spinner!
</div>
</div>

<!--Utility Divs-->
<div id="loading_div">waggas
</div>

<div id="dialog-form" title="Create new user">
	<form>
	<textarea name="comment" id="comment" class="text ui-widget-content ui-corner-all" />
	</form>
</div>