<script>
// $.post("/tasks/1"); will go to the show page for the task with id 1
// $.post("/tasks/1",{_method: "PUT",authenticity_token: encodeURIComponent
// (window._token)});

$(document).ready(function(){
  
  // Get Latest Trends
  
  // Review Past Trends
  
  // Update Trend
});
</script>
<h1>Ye Olde Trend Explainer</h1>

<div>
<div id="trends_block">
  <h2>Select ye trends</h2>
  <ul>
    <li><a href="#id1">Some ID1</a></li>
    <li><a href="#id2">Some other ID2</a></li>
  </ul>
</div>
<div id="main_block">
  This is the main block and it's much much bigger and you can write a lot more here.
</div>
</div>