<h1>TwitterCall#index</h1>
<p>Find me in app/views/twitter_call/index.html.erb</p>

<h1>Valid Locations</h1>
<%= @locations %>

<h1>Current Trends</h1>
<%= @trends %>

<h1>Abstract</h1>
<%= @abstract %>